<html>
    <head>
        <meta charset="UTF-8">
        <title>Create A New Task</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <style>
            ion-icon {
                display: inline-flex;
                vertical-align: bottom !important;
                height: 1.5em;
            }

            input[type=date]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                display: none;
            }

            input[type=date]::-webkit-calendar-picker-indicator {
                -webkit-appearance: none;
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="container border">
            <div class="row justify-content-center border bg-dark">
                <div class="col text-center">
                    <h1 style="color: white;">New Task</h1>
                </div>
            </div>
            <div class="row justify-content-center border m-2 border-0">
                <div class="col-6 text-center">
                    <form method="post">
                        <div class="form-group">
                            <label for="taskTitle"><h5>What do you need to get done?</h5></label>
                            <input type="text" class="form-control text-center" id="taskTitle" name="taskTitle" placeholder="Task name...">
                        </div>
                        <div class="form-group">
                            <label for="targetDate"><h5>When does it need to get done by?</h5></label>
                            <input type="date" class="form-control text-center" id="targetDate" name="targetDate">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    </body>
</html>